@charset "utf-8";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightgray;
    height: 100vh;
    width: 100vw;
    font-size: 1em;
}
header{
    background-color: gray;
    color: white;
    padding: 10px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}
header h1{
    font-size: 1.5em;
}
header > nav{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
  
}
header > nav > a{
    background-color: black;
    color: white;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
}
header > nav > a:hover{
    background-color: white;
    color: black;
    transition: background-color 0.3s;
}
main{
    background-color: white;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.137);
}

