@charset "UTF-8";

.container {
    display: grid;
    grid-template: repeat(3, 100px) / repeat(4, 1fr);
    gap: 10px;
}
.caixa1{
    
    grid-area: 1/1/1/5;
    background-color: red;
}
.caixa2{

    grid-area: 2 / 1 / -1 / 3;
    background-color: blue;
}
.caixa3{
    grid-area: 2 / 3 / -1 / 5;
    background-color: green;
}