@charset "UTF-8";

.container {
    display: grid;
    grid-template: repeat(3, 100px) / repeat(4, 1fr);
    gap: 10px;
}
.caixa1{
    grid-row: 1 / 2;
    grid-column: 1 / 5;
    background-color: red;
}
.caixa2{
    grid-row: 2 / -1;
    grid-column: 1 / 3;
    background-color: blue;
}
.caixa3{
    grid-row: 2 / -1;
    grid-column: 3 / 5;
    background-color: green;
}