@charset "UTF-8";

.container {
    display: grid;
    grid-template: repeat(8, 1fr) / repeat(4, 1fr);
    gap: 5px;
}
.topo{
    grid-area: 1 / 1 / 3 / -1;
    background-color: #b4b404;
}
.menu{
    grid-area: 3 / 1 / 3 / -1;
    background-color: #b4b404;
}
.principal{
    grid-area: 4 / 1 / 8 / -2;
    background-color: #b4b404;
}
.secundario{
    grid-area: 4 / -2 / 8 / -1;
    background-color: #b4b404;
}
.rodape{
    grid-area: 8 / 1 / 8 / -1;
    background-color: #b4b404;
}