@charset "UTF-8";
/*versão mobile first*/
* { 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}
html {
    height: 100vh;
}

body{
    background: black url(../imagens/back-phone.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
}
main{
    background-color: rgba(255, 255, 255, 0.596);
    width: 90vw;
    margin: auto;
    margin-top: 20px;
    border-radius: 10px;
    padding: 10px;
    max-width: 450px;
}
h1{
    font-size: 1.9em;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.219);
}

img{
    display: block;
    margin:  auto;
}
img#ph{
    display: block;
}
img#tb, img#pc, img#pr, img#tv{
    display: none;
}
