@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

:root
{
--font1: Verdana, Geneva, Tahoma, sans-serif;
--font2: "Passion One", sans-serif;
--font3: "Sriracha", cursive;
}
* 
{
    margin: 0;
    padding: 0;
    font-size: 1em;
}

html, body 
{
    font-family: var(--font1);
    min-width: 100vh;
    font-family: Arial, sans-serif;
    background-color: #d4cece;
    color: #333;
}
header 
{
    color: white;
    background-color: black;
    text-align: center;
}
header h1 
{
    font-size: 5vh;
    font-family: var(--font2);
    padding-top: 50px;
    font-variant: small-caps;
}
header > p 
{
    padding-bottom: 20px;
}
header a, footer a 
{
    color: white;
    text-decoration: none;
    padding-bottom: 20px;
    display: inline-block;
    margin-top: 10px;
}
a , footer a 
{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}
header a:hover, footer a:hover 
{
    text-decoration: underline;
}

section 
{
    font-family: var(--font3);
    padding: 10vh 0vh;
    line-height: 2em;
    padding-left: 30px;
    font-size: 3,5vw;
}
section.normal > p 
{
    padding-bottom: 2em;
}

section.normal{
    background-color: white;
    color : black;
}
section.imagen
{
    background-color: rgb(206, 206, 206);
    color : white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.479);
    background-attachment: fixed;
}   
section.imagen > p
{
    display: inline-block;
    background-size: cover;
    background-color : rgba(0, 0, 0, 0.301);
    text-shadow: 1px 1px 2px black;
}
section#img01
{
    background-image: url('../imagens/background001.jpg');
    background-position: right center;
}
section#img02
{
    background-image: url('../imagens/background002.jpg');
    background-position: right center;
}

footer
{
    color: white;
    background-color: black;
    text-align: center;
    padding: 20px ;
}